<section class="clux-banners">
  {% for block in section.blocks %}
    {% if block.type == 'banner' and block.settings.image != blank %}
      <div class="clux-banner clux-grain clux-cinematic">
        <div class="clux-banner__bg" data-clux-bubble
             style="background-image:url('{{ block.settings.image | image_url: width: 2500 }}');"></div>

        <div class="clux-banner__overlay"></div>

        <div class="clux-banner__content">
          <p class="clux-banner__text">{{ block.settings.text }}</p>
          <a class="clux-glass-btn" href="{{ block.settings.link }}">
            {{ block.settings.button }}
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "C-LUXURY Two Banners",
  "blocks": [
    { "type": "banner", "name": "Banner", "settings": [
      { "type": "image_picker", "id": "image", "label": "Banner image (JPG ok)" },
      { "type": "text", "id": "text", "label": "Text", "default": "Explore c-collections" },
      { "type": "text", "id": "button", "label": "Button label", "default": "Explore more now" },
      { "type": "url", "id": "link", "label": "Button link", "default": "https://mrcharliestxs.myshopify.com/collections/all" }
    ]}
  ],
  "max_blocks": 2,
  "presets": [{ "name": "C-LUXURY Two Banners" }]
}
{% endschema %}
